{% extends "base.html" %}
{% block title %}Жанры{% endblock title %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        <select name="artist" onchange="this.form.submit()">
            {% for artist in artists %}
                {% if artist in artists %}
                    <option value="{{artist.id}}" selected>{{artist}}</option>
                {% else %}
                    <option value="{{artist.id}}">{{artist}}</option>
                {% endif %}
            {% endfor %}
        </select>
    </form>

    <table>
        <thead>
            <tr>
                <th>№</th>
                <th>Название</th>
                <th>Длительность</th>
                <th>Жанры</th>
                <th></th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            {% for t in tracks %}
                <tr>
                    <td style="text-align: center;">{{t.id}}</td>
                    <td>{{t.title}}</td>
                    <td>{{t.duration}}</td>
                    <td>
                        {% for g in t.genres.all %} 
                            {{g.name_ru}},
                        {% endfor %}
                    </td>
                    <td><a href="edittrack/{{t.id}}">Редактировать</a></td>
                    <td><a href="deletetrack/{{t.id}}">Удалить</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="addtrack">Добавить трек</a>
{% endblock content %}